<section id="map" class="container-fluid">
    <div class="row col-12">
        <div class="col-3">

        </div>
        <div class="col-6 map" leaflet [leafletOptions]="options" [leafletLayers]="layers">
        </div>
        <div class="col-12 col-md-3 legend rounded">
            <h1>Map legend:</h1>
            <div class="col-3 col-md-12">
                <img src="https://via.placeholder.com/50" alt="">
                <span>Performance1</span>
            </div>
            <div class="col-3 col-md-12">
                <img src="https://via.placeholder.com/50" alt="">
                <span>Performance2</span>
            </div>
            <div class="col-3 col-md-12">
                <img src="https://via.placeholder.com/50" alt="">
                <span>Performance3</span>
            </div>
            <div class="col-3 col-md-12">
                <img src="https://via.placeholder.com/50" alt="">
                <span>Performance4</span>
            </div>

        </div>
    </div>
</section>
